

.mw-ia-popup-container

.mw-ia-popup-main {
	padding:10px;
	background:#FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.mw-ia-popup-toolbar {
    border: 1px solid #ccc;
    height: 42px;
    background: #f9f9f9;
}

.mw-ia-popup-toolbar .editorToolbarArea {
	display:inline-block;
}

.mw-ia-popup-toolbar .editorToolbarArea.toolbarArea-colors {
	float:right
}

.mw-ia-popup-toolbar .editorButton.black.active,
.mw-ia-popup-toolbar .editorButton.red.active,
.mw-ia-popup-toolbar .editorButton.white.active,
.mw-ia-popup-toolbar .editorButton.yellow.active,
.mw-ia-popup-toolbar .editorButton.blue.active,
.mw-ia-popup-toolbar .editorButton.green.active {
    border-color:#555;
}

.mw-ia-popup-toolbar .editorButton {
	background-color: #f9f9f9;
    border: 0px;
    height: 40px;
    width: 40px;
    background-position: center;
    background-repeat: no-repeat;
}

.mw-ia-popup-toolbar .editorButton:hover {
	background-color: #eaecf0;
}

.mw-ia-popup-toolbar .editorButton.square {
    background-image: url(images/square.png);
}

.mw-ia-popup-toolbar .editorButton.circle {
    background-image: url(images/circle.png);
}

.mw-ia-popup-toolbar .editorButton.arrow {
    background-image: url(images/arrow.png);
}

.mw-ia-popup-toolbar .editorButton.del {
    background-image: url(images/del.png);
    float:right;
}

.mw-ia-popup-toolbar .editorButton.text {
    background-image: url(images/text.png);
}

.mw-ia-popup-toolbar .editorButton.black {
    background-color: #000000;
    margin: 3px 1px;
    vertical-align: top;
    border-radius: 5px;
    border: 2px solid #f9f9f9;
    height: 33px;
}

.mw-ia-popup-toolbar .editorButton.white {
    background-color: #ffffff;
    margin: 3px 1px;
    vertical-align: top;
    border-radius: 5px;
    border: 2px solid #f9f9f9;
    height: 33px;
}

.mw-ia-popup-toolbar .editorButton.red {
    background-color: #ff0000;
    margin: 3px 1px;
    vertical-align: top;
    border-radius: 5px;
    border: 2px solid #f9f9f9;
    height: 33px;
}

.mw-ia-popup-toolbar .editorButton.blue {
    background-color: #0054ff;
    margin: 3px 1px;
    vertical-align: top;
    border-radius: 5px;
    border: 2px solid #f9f9f9;
    height: 33px;
}

.mw-ia-popup-toolbar .editorButton.yellow {
    background-color: #fff600;
    margin: 3px 1px;
    vertical-align: top;
    border-radius: 5px;
    border: 2px solid #f9f9f9;
    height: 33px;
}

.mw-ia-popup-toolbar .editorButton.green {
    background-color: #4ae40d;
    margin: 3px 1px;
    vertical-align: top;
    border-radius: 5px;
    border: 2px solid #f9f9f9;
    height: 33px;
}

.mw-ia-popup-image {
    border: 1px solid #ccc;
    border-top: none;
}

.mw-ia-popup-image .lower-canvas, .mw-ia-popup-image .upper-canvas {
    border:none;
}

.mw-ia-popup-buttonbar {
	text-align:right;
}

.mw-ia-popup-buttonbar button {
	background-color: #7ab55c;
    color: #fff;
    border: 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    margin: 5px 5px 0px 0px;
    padding: 6px 17px;
}
.mw-ia-popup-buttonbar button:hover {
	background-color: #6aa74c;
}

.mw-ia-popup-buttonbar button.cancelButton {
	background-color: #c8ccd1;
    color: #fff;
}

.mw-ia-popup-buttonbar button.cancelButton:hover {
	background-color: #d43f3a;
}

.mw-ia-editButton {
    background-image : url(images/edit.png) no-repeat 0 0;
    background-color: #f1f1f1;
    cursor: pointer;
    float: right;
    height: 30px;
    width: 30px;
    background-position: center;
    border-radius: 50px;
    background-color: #fff;
    margin-left: 5px;
    padding: 5px 10px;
    opacity: .7;
    border: 1px solid #ddd;
}

.mw-ia-editButton:hover {
    opacity: 1;
}