

.mw-ia-popup-container

.mw-ia-popup-main {
	padding:10px;
	background:#FFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.mw-ia-popup-toolbar {
	
}
.mw-ia-popup-image {
	
}
.mw-ia-popup-buttonbar {
	
}

.mw-ia-editButton {
	
    background: url(images/edit.png) no-repeat 0 0;
    cursor: pointer;
    float: right;
    height: 26px;
    margin-left: 5px;
    padding: 5px 10px;
    width: 26px;
}