

.mw-ia-popup-container

.mw-ia-popup-main {
	padding:10px;
	background:#FFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.mw-ia-popup-toolbar {
	
}
.mw-ia-popup-image {
	
}
.mw-ia-popup-buttonbar {
	
}